* { /* all element */
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* it will create all div with equal sizes */
}
body {
    background-color: aqua;
}
.navbar {
    display: flex;
    align-items: center;
    padding: 2%;
}

.logo img {
    width: 100px;
    filter: brightness(40%);
}

nav{
    flex: 1;
    text-align: right;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block; /*display items in a line*/
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #555;
}
p {
    color: #555;
}
.container {
    max-width: 1300px;
    margin: auto; /* auto will center the container*/
    padding-left: 25px;
    padding-right: 25px;
    background: radial-gradient(white,rgb(61, 255, 255)); /* can add multiple colors (center, to end)*/
}

.row {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.col1 {
    width: 50%;
    text-align: center;
    margin-bottom: 20px;
}
.col1 img {
    width: 60%;
}
.btn {
    display: inline-block; /*by this only creates a margin-top*/
    background-color: rgb(122, 122, 0);
    margin-top: 5%;
    padding: 2%;
    border-radius: 20%;
    transition: 0.5s;
    color: beige;
}
.btn:hover {
    background-color: rgb(255, 251, 0);
    color: black;
}

.col3 {
    flex-basis: 30%; /*it will sets the initial main size of a flex item*/
    margin:auto;
    padding: 2%;
    text-align: center;
    color:rgb(101, 104, 104);
    font-style:italic;
}
.col3 img {
    width: 60%;
    border-radius: 10%;
}

.smallcontainer {
    max-width: 1080px;
    margin-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

.col4 {
    flex-basis: 25%; /*divide the div of display flex in four equal parts*/
    cursor: pointer;
    transition: 500ms;
    margin: 3%;
    margin-bottom: 3%;
}

.col4 img {
    width: 100%;
    border-radius: 10%;
}

.star {
    color: rgb(209, 178, 5);
}

.it {
    margin: 5%;
    font-size: 30px;
    color: rgb(80, 80, 80);
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline rgb(179, 167, 0);
}

.col4:hover {
    transform:translateY(10px);
    color: rgb(212, 131, 0);
}

/* testimonials */

.testimonial {
    padding: 5%;
    margin-bottom: 10%;
}
.testimonial .col3 {
    margin: 0% 5%;
    box-shadow: 5px 5px 5px 5px;
    cursor: pointer;
    transition: 500ms;
}
.testimonial p {
    padding-bottom: 20%;
}
.testimonial img {
    width: 100%;
    border-radius: 50%;
}

.testimonial .col3:hover{
    transform: translateY(-10px);
}
.testimonial .col3 i {
    color: rgb(221, 221, 0);
}

/* brand logo */

.brand {
    margin: auto;
}

.col5 {
    margin: auto;
}
.col5 img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col5 img:hover {
    filter: grayscale(0%);
}

/* footer */
.footer{
    color: white;
    background-color: black;
}
.footer .container {
    background: none;
}
.footer h4 {
    margin-top: 30px;
    margin-bottom: 10px;
}
.fo-col1, .fo-col2, .fo-col3, .fo-col4{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
}
.fo-col1 img {
    width: 30px;
    cursor: pointer;
}
.fo-col2 img {
    width: 100px;
    cursor: pointer;
}

/* menu adding in css*/

.menu {
    width: 20px;
    margin-left: 10px;
    display: none;
}

/* performing media query on the items when screen size is less then 700px*/

@media only screen and (max-width: 700px) { /*only on less then 700px*/

    .menu {
        display: block;
        cursor: pointer;
    }
    .first {display: none;}
    .second {
        display: block;
        position: absolute;
        top:12%;
        right: 0%;
        padding-left: 90%;
        padding-right: 3%;
    }

    .second ul {
        background-color: black;
        border-radius: 5%;
    }
    .second ul li a{
        color: white;
    }
}

/* media perform when screen is less then 500*/

@media only screen and (max-width: 500px) {
    .row {
        flex-direction: column;
    }

    .col1, .col2, .col3, .col4 {
        width: 100%;
        margin: auto;
    }
}