* { /* all element */
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* it will create all div with equal sizes */
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

.logo img {
    width: 100px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block; /*display items in a line*/
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #555;
}
p {
    color: #555;
}
.container {
    max-width: 1300px;
    margin: auto; /* auto will center the container*/
    padding-left: 25px;
    padding-right: 25px;
}

.head {
    display: flex;
    align-items: center;
}

.col1 {
    width: 40%;
    text-align: center;
    margin-left: 3%;
}
.col2 {
    margin-left: 25%;
}
.col2 img {
    width: 60%;
}
.btn {
    display: inline-block; /*by this only creates a margin-top*/
    background-color: rgb(0, 238, 255);
    margin-top: 5%;
    padding: 2%;
    border-radius: 20%;
}

.top {
    background: radial-gradient(white,rgb(208, 255, 255)); /* can add multiple colors (center, to end)*/
}