body {
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}

div.one {
    background-color: aqua;
    padding: 1rem;
    border-bottom: 2px solid black;
}
#home {
    margin-left: 45%;
    background: none;
    border-color: rgb(0, 225, 255);
    font-size: large;
}

div.two {
    background-color: aqua;
    padding: 3rem;
    font-size: 4rem;
    text-align: center;
    font-style: italic;
}


img {
    border-radius: 10%;
    height: 70%;
    width: 80%;
    margin: 5% 10% 5% 10%;
    
}

div.three {
    display: flex;
    flex-flow:wrap
}
div.pro {
    position: relative;
    width: 50%;
}

 .down span {
     margin-left: 15%;
     font-size: 120%;
 }
 .down button{
     position:absolute;
     margin-left: 35%;
     border-radius: 20%;
     background-color: aqua;
 }
 /*
 #btn {
     position:absolute;
     bottom: 1%;
     left: 5%;
 }*/